<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Submission Error</title>
  </head>
  <meta HTTP-EQUIV="REFRESH" content="5; url=http://localhost:4567/articles/new">
  <body>
    <h2>Submission error</h2>
    <h3>You have not submitted any data. Please return and re-enter your data.<h3>
  </body>
</html>
