<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Article</title>
  </head>

  <body>
    <h2>Post a new article:</h2>


      <form action="/articles/new" method="post">
          <label for="article">Article Name:</label>
          <input type="text" id="article" name="article">


          <label for="url">URL:</label>
          <input type="text" id="url" name="url">

          <label for="description">Description:</label>
          <input type="text" id="description" name="description">

          <input type="submit" value = "add article!">
        </form>
  </body>
</html>
